<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>版本管理</title>
</head>
<body>
    <div>
        <input id="newVer" type="text" style="width: 200px;">
        <button type="button" id="add">添加新版本</button>
    </div>
    <br/>
    <br/>
    <div>
        <table border="1px solid black;" width="400px;">
            <thead>
                <tr>
                    <th width="20%">序号</th>
                    <th width="30%">版本号</th>
                    <th width="20%">补丁个数</th>
                    <th width="30%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1.0</td>
                    <td>2</td>
                    <td>
                        <button type="button" id="detail" onclick="goToDetail();">详情</button>
                        <button type="button" id="delete" onclick="doDelete();">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        function doAddVersion() {
            alert('add');
        }
        function goToDetail() {
            alert('show detail');
        }
        function doDelete() {
            alert('delete');
        }
    </script>
</body>
</html>